<div class="hero-layout">
  <div class="project-meta">
    <table class="meta-table">
      <tr>
        <th>Year</th>
        <td id="p-year"></td>
      </tr>
      <tr>
        <th>Role</th>
        <td id="p-role"></td>
      </tr>
      <tr>
        <th>Duration</th>
        <td id="p-duration"></td>
      </tr>
      <tr>
        <th>Tools</th>
        <td id="p-tools">/td>
      </tr>
    </table>
  </div>

  <div class="project-hero">
    <div id="p-hero-container" class="image-wrapper">...</div>
  </div>
</div>