<section class="project-body">
  <div class="description-section">
    <h3>Overview & Highlights</h3>
    <p id="p-concept"></p>
  </div>
    
  <div id="p-detail-slider" class="concept-slider" style="margin-top: 30px;">
  </div>

  <div class="description-section">
    <p id="p-additionalComments"></p>
  </div>
</section>